{% extends 'base.html' %}
{% block content %}
<div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card">
                                <div class="card-header bg-primary text-white">
                                        <h4><i class="fas fa-user-plus"></i>Change Password </h4>
                                    </div>
                            <div class="card-body">
                                {% include '_alerts.html' %}
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="oldpass">Old Password</label>
                                        <input name="oldpass" type="password" class="form-control" id="oldpass" aria-describedby="oldHelp" placeholder="Enter the old password">
                                    </div>

                                    <div class="form-group">
                                        <label for="newpass">New Password</label>
                                        <input name="newpass" type="password" class="form-control" id="newpass" aria-describedby="newHelp" placeholder="Enter the new password">
                                    </div>

                                    <div class="form-group">
                                        <label for="newpassconfirm">Confirm Password</label>
                                        <input name="newpassconfirm" type="password" class="form-control" id="newpassconfirm" aria-describedby="newconfirmHelp" placeholder="Confirm password">
                                    </div>

                                    <button type="submit" class="btn btn-primary">Change</button>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
</div>
{% endblock content %}